//フォントの変更20200520 17:49
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

//変数宣言
//ヘッダー：青色
$nav-color: #00c8f8!important;
//背景色：グレー
$body-color: #f1f1f1!important;
//質問ボタン・カード：緑
$question-color: #59c4c5!important;
//回答ボタン・カード：黄色
$answer-color: #ffc33c!important;


html{
    height: 100%;
}

body {
    //フォントの変更20200520 17:49
    font-family: 'Sawarabi Gothic', sans-serif;
    background-color: $body-color;
}

.navbar {
    background-color: $nav-color;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.form-group {
    width: 100%;
}


.col-sm-6 {
    max-width: 70%!important;
}

.btn {
    color: #fff;
    background-color: $question-color;
    opacity: 0.8;
    font-size: 20px;
    display: block;
    margin: 60px auto 30px;
    width: 200px;
    height: 50px;
    
    &:hover {
        opacity: 1;
    }
    
    &.fsize {
        font-size: 17px;
    }
    
    &.a-btn {
        padding-top: 10px;
        margin-top: 0;
        background-color: #FFF!important;
        color: $question-color;
    }
}

.padding-div {
    padding-top: 55px;
}

.padding-auth {
    padding-top: 30px;
}


//カードスタイルの設定
//index.scssから移動(2020/5/22 9:51)
.question_list_container {
    margin-top: 50px;
}

.question_wrapper {
    margin: 20px;
    background-color: white;
    border-radius: 5px;
    border-right: solid 15px $question-color;
    box-shadow: 2px 2px 6px rgba(0,0,0,.3);
    z-index: 1;

    
    .question-list {
        padding-left: 1vw;
        padding-right: 1vw;
        //width: 70%;
        
        
        .chose_categorie {
            //width無理やり調整
            width: 20vw;
            
            input {
                border: none;
                width: 30%;
            }
        }
    }
    
    a {
        margin: 10px;
        text-decoration: none;
        color: black;
    }
}

//カードのtitle以外の文字を薄くする
#option {
    opacity: 0.3;
}