//test
.question_wrapper-behind {
    width : auto;
    opacity : 0;
    position : absolute;
    z-index :0;
    margin-top : 30px;
    margin-left : 30px;
    background-color: red;
    border-radius: 5px;
    border-right: solid 15px #F0B000;
    
    .question-list-behind {
        padding-left: 30px;
        width: 70%;
        .chose_categorie {
    
            input {
                border: none;
                width: 80px;
            }
        }
    }
    
    a {
        
        margin: 10px;
        text-decoration: none;
        color: black;
    }
}

.question_wrapper{
    #omote{
        z-index : -1;
    }
    .tuuti {
        width : 100%;
     }


}

.question_wrapper:hover + .question_wrapper-behind{
    opacity : 1;
}