//フォントの変更20200520 17:49
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

html{
    height: 100%;
}

body {
    //フォントの変更20200520 17:49
    font-family: 'Sawarabi Gothic', sans-serif;
    background-color: #fbe2b4;
}

.py-4{
    background-color: #fbe2b4;
}

.navbar {
    background-color: #00c8f8!important;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.form-group {
    width: 100%;
}


.col-sm-6 {
    max-width: 70%!important;
}

.btn {
    color: #fff;
    background-color: #59c4c5;
    opacity: 0.8;
    font-size: 20px;
    display: block;
    margin: 60px auto 30px;
    width: 200px;
    height: 50px;
    
    &:hover {
        opacity: 1;
    }
    
    &.fsize {
        font-size: 17px;
    }
    
    &.a-btn {
        padding-top: 10px;
        margin-top: 0;
        background-color: #FFF;
        color: #59c4c5;
    }
}

.padding-div {
    padding-top: 55px;
}

.padding-auth {
    padding-top: 30px;
}