.question_detail_container {

    h2 {
        padding: 10px;
        margin: 30px 0;
        border-bottom: solid 1px rgba(0,0,0,.2);
    }
    
    h3 {
        font-weight: 600;
    }
    
    .question_content {
        padding: 1vw;
    }
}

.question_wrapper_detail {
    //bootstrapの関係上marginを指定してるとoffsetが使えないためこちらを使用
    //margin: 20px; ←←これがないバージョンです
    background-color: white;
    border-radius: 5px;
    border-right: solid 15px #59c4c5;
    box-shadow: 2px 2px 6px rgba(0,0,0,.3);

    .question-list {
        margin-top: 10px; //indexではaタグに適用されてるやつ こっちにaタグ無いから
        padding-left: 30px;
        //width: 70%; //詳細画面では、無くてもよさそう
    }
}

.answer_wrapper {
    margin-top: 40px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    border-right: solid 15px #59c4c5;
    box-shadow: 2px 2px 6px rgba(0,0,0,.3);

    .answer_list {
        padding: 0.5vw 1vw;
    }
    
}

#question_card {
    padding: 20px;
    margin-left: 2vw;
}

#tag {
    
    h4 {
        font-size: 15px;
    }
    
}

#right-list {
    float: right;
    margin: 10px;
}

.answer_time {
    float: right;
}