#question-form-area{
    margin-top: 50px;
    margin-left: 25%;
}
.top-page{
    .filter{
        #main_titles{
            h1{
                white-space: nowrap;
            }
            .catchcp{
                postion: absolute;
                font-size: 1vw;
            }
        }
    }
}
