#answer-form-area {
  margin-top: 30px;
}
#answer-form-area .control-label {
  margin-top: 20px;
}
#answer-form-area .cate input {
  font-size: 12px;
  margin: 2px 0;
  padding: 1px 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  opacity: 0.6;
}
#answer-form-area .answer_write {
  box-shadow: 0 0 5px #ffc33c !important;
  border-radius: 5px;
}
#answer-button {
  background-color: #ffc33c !important;
}
