@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');
html {
  height: 100%;
}
body {
  font-family: 'Sawarabi Gothic', sans-serif;
  background-color: #f1f1f1 !important;
}
.navbar {
  background-color: #00c8f8 !important;
  position: fixed;
  width: 100%;
  z-index: 10;
}
.form-group {
  width: 100%;
}
.col-sm-6 {
  max-width: 70% !important;
}
.btn {
  color: #fff;
  background-color: #59c4c5 !important;
  opacity: 0.8;
  font-size: 20px;
  display: block;
  margin: 60px auto 30px;
  width: 200px;
  height: 50px;
}
.btn:hover {
  opacity: 1;
}
.btn.fsize {
  font-size: 17px;
}
.btn.a-btn {
  padding-top: 10px;
  margin-top: 0;
  background-color: #fff;
  color: #59c4c5;
}
.padding-div {
  padding-top: 55px;
}
.padding-auth {
  padding-top: 30px;
}
