@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');
html {
  height: 100%;
}
body {
  font-family: 'Sawarabi Gothic', sans-serif;
  background-color: #f1f1f1 !important;
}
.navbar {
  background-color: #00c8f8 !important;
  position: fixed;
  width: 100%;
  z-index: 10;
}
.form-group {
  width: 100%;
}
.col-sm-6 {
  max-width: 70% !important;
}
.btn {
  color: #fff;
  background-color: #59c4c5 !important;
  opacity: 0.8;
  font-size: 20px;
  display: block;
  margin: 60px auto 30px;
  width: 200px;
  height: 50px;
}
.btn:hover {
  opacity: 1;
}
.btn.fsize {
  font-size: 17px;
}
.btn.a-btn {
  padding-top: 10px;
  margin-top: 0;
  background-color: #fff !important;
  color: #59c4c5 !important;
}
.padding-div {
  padding-top: 55px;
}
.padding-auth {
  padding-top: 30px;
}
.question_list_container {
  margin-top: 50px;
}
.question_wrapper {
  margin: 20px;
  background-color: white;
  border-radius: 5px;
  border-right: solid 15px #59c4c5 !important;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .3);
  z-index: 1;
}
.question_wrapper .question-list {
  padding-left: 1vw;
  padding-right: 1vw;
}
.question_wrapper .question-list .chose_categorie {
  width: 20vw;
}
.question_wrapper .question-list .chose_categorie input {
  border: none;
  width: 30%;
}
.question_wrapper a {
  margin: 10px;
  text-decoration: none;
  color: black;
}
#option {
  opacity: 0.3;
}
