.question_wrapper-behind {
  width : auto;
  opacity : 0;
  position : absolute;
  z-index : 0;
  margin-top : 30px;
  margin-left : 30px;
  background-color: #fff !important;
  border-radius: 5px;
  border-right: solid 15px #ffc33c !important;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .3);
}
.question_wrapper-behind .question-list-behind {
  padding-left: 30px;
  width: 70%;
}
.question_wrapper-behind .question-list-behind .chose_categorie input {
  border: none;
  width: 80px;
}
.question_wrapper-behind a {
  margin: 10px;
  text-decoration: none;
  color: black;
}
.question_wrapper #omote {
  z-index : -1;
}
.question_wrapper .tuuti {
  width : 100%;
}
.question_wrapper:hover + .question_wrapper-behind {
  opacity : 1;
}
