.question_detail_container h2 {
  padding: 10px;
  margin: 30px 0;
  border-bottom: solid 1px rgba(0, 0, 0, .2);
}
.question_detail_container .answer_time {
  float: right;
}
.question_wrapper_detail {
  background-color: white;
  border-radius: 5px;
  border-right: solid 15px #59c4c5;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .3);
}
.question_wrapper_detail .question-list {
  margin-top: 10px;
  padding-left: 30px;
  width: 70%;
}
.answer_wrapper {
  margin-top: 40px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  border-right: solid 15px #59c4c5;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .3);
}
.answer_wrapper .answer-list {
  padding-left: 30px;
  width: 70%;
}
#question_card {
  padding: 20px;
  margin-left: 30px;
}
#tag h4 {
  font-size: 15px;
}
#right-list {
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
}
#answer-button {
  background-color: #ffc33c !important;
}
#answer-card {
  border-right: solid 15px #ffc33c !important;
}
